In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('nasa_power_indices.csv')
df

            Date    T2M  PRECTOTCORR  ALLSKY_SFC_SW_DWN  WS10M   RH2M
0     2010-01-01  18.05          0.0               5.71   5.33  20.37
1     2010-01-02  18.28          0.0               5.86   4.91  19.92
2     2010-01-03  18.04          0.0               5.95   4.43  17.18
3     2010-01-04  17.47          0.0               5.75   4.76  20.83
4     2010-01-05  16.92          0.0               5.88   4.31  20.81
...          ...    ...          ...                ...    ...    ...
5108  2023-12-27  16.14          0.0               5.53   5.37  27.72
5109  2023-12-28  16.81          0.0               5.47   4.86  29.69
5110  2023-12-29  17.55          0.0               5.67   4.33  30.81
5111  2023-12-30  18.06          0.0               5.51   4.20  26.61
5112  2023-12-31  18.33          0.0               5.96   4.24  23.81

[5113 rows x 6 columns]