In [4]:
import pandas as pd
import pickle as pkl

In [6]:
with open('nasa_power_grid_data.pkl', 'rb') as f:
    df = pkl.load(f)
df

,year,latitude,longitude,T2M,PRECTOTCORR,ALLSKY_SFC_SW_DWN,WS10M,RH2M
0,2013,15.0,-17.0,-247.234932,1.417205,5.795644,4.296849,62.879836
1,2013,15.0,-15.0,-244.329288,1.489370,6.127425,3.873068,41.616849
2,2013,15.0,-13.0,-243.840219,1.503699,6.172712,3.825342,39.456740
3,2013,15.0,-11.0,-244.374329,2.209507,6.115890,3.818932,42.169671
4,2013,15.0,-9.0,-244.841205,1.620822,6.201288,3.797507,36.823589
...,...,...,...,...,...,...,...,...
475,2022,25.0,-11.0,-247.694384,0.398110,5.891726,5.550767,33.916521
476,2022,25.0,-9.0,-246.548247,0.114877,5.955973,4.632137,25.565014
477,2022,25.0,-7.0,-246.196438,0.037726,5.954548,4.503726,21.898658
478,2022,25.0,-5.0,-244.801151,0.053068,5.905452,4.551425,19.261534
479,2022,25.0,-3.0,-245.521123,0.009781,6.127836,4.563562,19.097260