In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../graphs/nasa_power_grid_temperature_2022.csv')
df

     latitude  longitude  temperature_C
0        15.0      -17.0      25.863836
1        15.0      -16.0      27.329644
2        15.0      -15.0      28.305260
3        15.0      -14.0      28.464904
4        15.0      -13.0      28.197808
..        ...        ...            ...
135      24.0       -8.0      27.299945
136      24.0       -7.0      28.111342
137      24.0       -6.0      28.266740
138      24.0       -5.0      27.706164
139      24.0       -4.0      27.710658

[140 rows x 3 columns]